<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f295937419f4a23d9caafbdfee20defb {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_f295937419f4a23d9caafbdfee20defb" ></div>
        
</body>
<script>
    
    
            var map_f295937419f4a23d9caafbdfee20defb = L.map(
                "map_f295937419f4a23d9caafbdfee20defb",
                {
                    center: [45.4, 9.2],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4fee16ea7614c25a3bae31220f6ccdde = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f295937419f4a23d9caafbdfee20defb);
        
    
            var marker_efa2bcbf2e06b7441b0540ccd813fa34 = L.marker(
                [45.7376929109036, 9.239661102137783],
                {}
            ).addTo(map_f295937419f4a23d9caafbdfee20defb);
        
    
        var popup_9158950e9d9555049738eb51afd61995 = L.popup({"maxWidth": "100%"});

        
            
                var html_116536c02fc7b25a67b1612d448d45cb = $(`<div id="html_116536c02fc7b25a67b1612d448d45cb" style="width: 100.0%; height: 100.0%;">Giudizio: Inquinato</div>`)[0];
                popup_9158950e9d9555049738eb51afd61995.setContent(html_116536c02fc7b25a67b1612d448d45cb);
            
        

        marker_efa2bcbf2e06b7441b0540ccd813fa34.bindPopup(popup_9158950e9d9555049738eb51afd61995)
        ;

        
    
    
            var marker_2a467f9113c2e6bd4f8ad1ac178a7c3b = L.marker(
                [45.831794760996644, 9.654592956323865],
                {}
            ).addTo(map_f295937419f4a23d9caafbdfee20defb);
        
    
        var popup_82cdcf06077da4570c9c6da576ee104a = L.popup({"maxWidth": "100%"});

        
            
                var html_7bdf0cf7df32d29f0b4c8fe0c60e22f1 = $(`<div id="html_7bdf0cf7df32d29f0b4c8fe0c60e22f1" style="width: 100.0%; height: 100.0%;">Giudizio: Entro i Limiti</div>`)[0];
                popup_82cdcf06077da4570c9c6da576ee104a.setContent(html_7bdf0cf7df32d29f0b4c8fe0c60e22f1);
            
        

        marker_2a467f9113c2e6bd4f8ad1ac178a7c3b.bindPopup(popup_82cdcf06077da4570c9c6da576ee104a)
        ;

        
    
    
            var marker_bfabafefd150fedcd6263f51331414d0 = L.marker(
                [45.39290222200682, 9.689355129151913],
                {}
            ).addTo(map_f295937419f4a23d9caafbdfee20defb);
        
    
        var popup_a95e9ba605ee186ffbb70cdf766669f4 = L.popup({"maxWidth": "100%"});

        
            
                var html_73db966119eb4576b0723a02f63f7a88 = $(`<div id="html_73db966119eb4576b0723a02f63f7a88" style="width: 100.0%; height: 100.0%;">Giudizio: Entro i Limiti</div>`)[0];
                popup_a95e9ba605ee186ffbb70cdf766669f4.setContent(html_73db966119eb4576b0723a02f63f7a88);
            
        

        marker_bfabafefd150fedcd6263f51331414d0.bindPopup(popup_a95e9ba605ee186ffbb70cdf766669f4)
        ;

        
    
    
            var marker_6b83175a7fb02e20dc7d02b1e6d4fb86 = L.marker(
                [45.32133990174164, 9.505647379064868],
                {}
            ).addTo(map_f295937419f4a23d9caafbdfee20defb);
        
    
        var popup_9be92664aa9fa180e93f6c2f43236314 = L.popup({"maxWidth": "100%"});

        
            
                var html_341b6d63d2f47d34840a47bc4d14feb0 = $(`<div id="html_341b6d63d2f47d34840a47bc4d14feb0" style="width: 100.0%; height: 100.0%;">Giudizio: Inquinato</div>`)[0];
                popup_9be92664aa9fa180e93f6c2f43236314.setContent(html_341b6d63d2f47d34840a47bc4d14feb0);
            
        

        marker_6b83175a7fb02e20dc7d02b1e6d4fb86.bindPopup(popup_9be92664aa9fa180e93f6c2f43236314)
        ;

        
    
    
            var marker_5d29009e43ee2f255d80492ad150977c = L.marker(
                [45.289506698225736, 9.178370857151027],
                {}
            ).addTo(map_f295937419f4a23d9caafbdfee20defb);
        
    
        var popup_9a76e996579f7f473e8a0ab183770339 = L.popup({"maxWidth": "100%"});

        
            
                var html_ccf6cb5fe07170c8d4149f17277350ae = $(`<div id="html_ccf6cb5fe07170c8d4149f17277350ae" style="width: 100.0%; height: 100.0%;">Giudizio: Entro i Limiti</div>`)[0];
                popup_9a76e996579f7f473e8a0ab183770339.setContent(html_ccf6cb5fe07170c8d4149f17277350ae);
            
        

        marker_5d29009e43ee2f255d80492ad150977c.bindPopup(popup_9a76e996579f7f473e8a0ab183770339)
        ;

        
    
    
            var marker_ee56e949070ac00965151612d27c80d0 = L.marker(
                [45.03676722071363, 9.86049957842729],
                {}
            ).addTo(map_f295937419f4a23d9caafbdfee20defb);
        
    
        var popup_fd8d7089da4f52bd13a7a98d2cf0c9b2 = L.popup({"maxWidth": "100%"});

        
            
                var html_1f4f135258185a49215a08273a1d269b = $(`<div id="html_1f4f135258185a49215a08273a1d269b" style="width: 100.0%; height: 100.0%;">Giudizio: Entro i Limiti</div>`)[0];
                popup_fd8d7089da4f52bd13a7a98d2cf0c9b2.setContent(html_1f4f135258185a49215a08273a1d269b);
            
        

        marker_ee56e949070ac00965151612d27c80d0.bindPopup(popup_fd8d7089da4f52bd13a7a98d2cf0c9b2)
        ;

        
    
    
            var marker_795f4d9815c000e06f77ced7af1dbc40 = L.marker(
                [45.210445655737296, 9.299543122921605],
                {}
            ).addTo(map_f295937419f4a23d9caafbdfee20defb);
        
    
        var popup_c6aceec7564abb991b9f001b5fa1354e = L.popup({"maxWidth": "100%"});

        
            
                var html_ba9323769de120790735b190cc0074c9 = $(`<div id="html_ba9323769de120790735b190cc0074c9" style="width: 100.0%; height: 100.0%;">Giudizio: Inquinato</div>`)[0];
                popup_c6aceec7564abb991b9f001b5fa1354e.setContent(html_ba9323769de120790735b190cc0074c9);
            
        

        marker_795f4d9815c000e06f77ced7af1dbc40.bindPopup(popup_c6aceec7564abb991b9f001b5fa1354e)
        ;

        
    
    
            var marker_d4c569ba6bc576aa85c91e1123ea4e38 = L.marker(
                [45.8269175917488, 9.795470410117893],
                {}
            ).addTo(map_f295937419f4a23d9caafbdfee20defb);
        
    
        var popup_2601c5f605d982fcd8df40294c6be487 = L.popup({"maxWidth": "100%"});

        
            
                var html_9c86e63dd171fc3db7e4e493b81cd094 = $(`<div id="html_9c86e63dd171fc3db7e4e493b81cd094" style="width: 100.0%; height: 100.0%;">Giudizio: Fortemente Inquinato</div>`)[0];
                popup_2601c5f605d982fcd8df40294c6be487.setContent(html_9c86e63dd171fc3db7e4e493b81cd094);
            
        

        marker_d4c569ba6bc576aa85c91e1123ea4e38.bindPopup(popup_2601c5f605d982fcd8df40294c6be487)
        ;

        
    
    
            var marker_51a998df4f7467051c0968a739670c85 = L.marker(
                [45.81585689775259, 9.588601599808666],
                {}
            ).addTo(map_f295937419f4a23d9caafbdfee20defb);
        
    
        var popup_f5e34f9f25181efce0076ded86ddb085 = L.popup({"maxWidth": "100%"});

        
            
                var html_85f9675942fcc7aebf7b2bc0419c1d7b = $(`<div id="html_85f9675942fcc7aebf7b2bc0419c1d7b" style="width: 100.0%; height: 100.0%;">Giudizio: Entro i Limiti</div>`)[0];
                popup_f5e34f9f25181efce0076ded86ddb085.setContent(html_85f9675942fcc7aebf7b2bc0419c1d7b);
            
        

        marker_51a998df4f7467051c0968a739670c85.bindPopup(popup_f5e34f9f25181efce0076ded86ddb085)
        ;

        
    
    
            var marker_8e57b49fee4b2727b16896a7b7d27e87 = L.marker(
                [45.41981869599953, 9.763677264174698],
                {}
            ).addTo(map_f295937419f4a23d9caafbdfee20defb);
        
    
        var popup_a6651fe3981d50a7929389b76ecbedc1 = L.popup({"maxWidth": "100%"});

        
            
                var html_21ae0f15ace7512915c4f7c6ab0b49e4 = $(`<div id="html_21ae0f15ace7512915c4f7c6ab0b49e4" style="width: 100.0%; height: 100.0%;">Giudizio: Entro i Limiti</div>`)[0];
                popup_a6651fe3981d50a7929389b76ecbedc1.setContent(html_21ae0f15ace7512915c4f7c6ab0b49e4);
            
        

        marker_8e57b49fee4b2727b16896a7b7d27e87.bindPopup(popup_a6651fe3981d50a7929389b76ecbedc1)
        ;

        
    
</script>
</html>