<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b1ba67de12222c9bd5031c9feea5249c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_b1ba67de12222c9bd5031c9feea5249c" ></div>
        
</body>
<script>
    
    
            var map_b1ba67de12222c9bd5031c9feea5249c = L.map(
                "map_b1ba67de12222c9bd5031c9feea5249c",
                {
                    center: [45.7, 9.2],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_12c9cc46e80b22a76bab04b15586215e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b1ba67de12222c9bd5031c9feea5249c);
        
    
            var marker_7253e4e75c815e0f18d27b36ae7bb350 = L.marker(
                [45.57, 10.0],
                {}
            ).addTo(map_b1ba67de12222c9bd5031c9feea5249c);
        
    
        var popup_1bc5111884d83389b8df87e0b3b32e41 = L.popup({"maxWidth": "100%"});

        
            
                var html_e5df33a25ef0d4927cb4c6e0268f8326 = $(`<div id="html_e5df33a25ef0d4927cb4c6e0268f8326" style="width: 100.0%; height: 100.0%;">Giudizio: Entro i Limiti</div>`)[0];
                popup_1bc5111884d83389b8df87e0b3b32e41.setContent(html_e5df33a25ef0d4927cb4c6e0268f8326);
            
        

        marker_7253e4e75c815e0f18d27b36ae7bb350.bindPopup(popup_1bc5111884d83389b8df87e0b3b32e41)
        ;

        
    
    
            var marker_40bb10d66d636e1d86aa78787019c66e = L.marker(
                [45.96, 8.65],
                {}
            ).addTo(map_b1ba67de12222c9bd5031c9feea5249c);
        
    
        var popup_03d70423e2dc2bef941e90839e6a717a = L.popup({"maxWidth": "100%"});

        
            
                var html_bfebfe9ead3f78cc529f3a8593794691 = $(`<div id="html_bfebfe9ead3f78cc529f3a8593794691" style="width: 100.0%; height: 100.0%;">Giudizio: Inquinato</div>`)[0];
                popup_03d70423e2dc2bef941e90839e6a717a.setContent(html_bfebfe9ead3f78cc529f3a8593794691);
            
        

        marker_40bb10d66d636e1d86aa78787019c66e.bindPopup(popup_03d70423e2dc2bef941e90839e6a717a)
        ;

        
    
    
            var marker_63949c6af40288497054010816d30cee = L.marker(
                [46.01, 9.25],
                {}
            ).addTo(map_b1ba67de12222c9bd5031c9feea5249c);
        
    
        var popup_b0814412ece21d6c5efa59a950b406c4 = L.popup({"maxWidth": "100%"});

        
            
                var html_de755d85ff6728562ddafa25656d1ca6 = $(`<div id="html_de755d85ff6728562ddafa25656d1ca6" style="width: 100.0%; height: 100.0%;">Giudizio: Fortemente Inquinato</div>`)[0];
                popup_b0814412ece21d6c5efa59a950b406c4.setContent(html_de755d85ff6728562ddafa25656d1ca6);
            
        

        marker_63949c6af40288497054010816d30cee.bindPopup(popup_b0814412ece21d6c5efa59a950b406c4)
        ;

        
    
</script>
</html>