<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d54911d7871c66ae93fb30537f40c957 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_d54911d7871c66ae93fb30537f40c957" ></div>
        
</body>
<script>
    
    
            var map_d54911d7871c66ae93fb30537f40c957 = L.map(
                "map_d54911d7871c66ae93fb30537f40c957",
                {
                    center: [45.4, 9.2],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1f2ccaa5c61139e7c309ed5d5c9f644d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d54911d7871c66ae93fb30537f40c957);
        
    
            var marker_2a961c04c21838f2f51aa370f57d706c = L.marker(
                [45.85426601209621, 9.364270455499986],
                {}
            ).addTo(map_d54911d7871c66ae93fb30537f40c957);
        
    
        var popup_87d78f10f6bd933a4845ab811ab3cec8 = L.popup({"maxWidth": "100%"});

        
            
                var html_97c9b4e188280b627a038e7572efdedc = $(`<div id="html_97c9b4e188280b627a038e7572efdedc" style="width: 100.0%; height: 100.0%;">Giudizio: Fortemente Inquinato</div>`)[0];
                popup_87d78f10f6bd933a4845ab811ab3cec8.setContent(html_97c9b4e188280b627a038e7572efdedc);
            
        

        marker_2a961c04c21838f2f51aa370f57d706c.bindPopup(popup_87d78f10f6bd933a4845ab811ab3cec8)
        ;

        
    
    
            var marker_171a365cc05d792feac5778a5b86b5f9 = L.marker(
                [45.397775122725996, 9.092220024625474],
                {}
            ).addTo(map_d54911d7871c66ae93fb30537f40c957);
        
    
        var popup_1a19d71d60eef541c13bcd8ac53009c6 = L.popup({"maxWidth": "100%"});

        
            
                var html_7d61dd82e62a4f98a1359d091b0260aa = $(`<div id="html_7d61dd82e62a4f98a1359d091b0260aa" style="width: 100.0%; height: 100.0%;">Giudizio: Inquinato</div>`)[0];
                popup_1a19d71d60eef541c13bcd8ac53009c6.setContent(html_7d61dd82e62a4f98a1359d091b0260aa);
            
        

        marker_171a365cc05d792feac5778a5b86b5f9.bindPopup(popup_1a19d71d60eef541c13bcd8ac53009c6)
        ;

        
    
    
            var marker_78849c004a5aacc0157490a72762607a = L.marker(
                [45.921322301326406, 9.780707273735084],
                {}
            ).addTo(map_d54911d7871c66ae93fb30537f40c957);
        
    
        var popup_d5b85c86676690151946c0dd8cf25800 = L.popup({"maxWidth": "100%"});

        
            
                var html_8eade5e7d2a6338e24c898d0a229f176 = $(`<div id="html_8eade5e7d2a6338e24c898d0a229f176" style="width: 100.0%; height: 100.0%;">Giudizio: Entro i Limiti</div>`)[0];
                popup_d5b85c86676690151946c0dd8cf25800.setContent(html_8eade5e7d2a6338e24c898d0a229f176);
            
        

        marker_78849c004a5aacc0157490a72762607a.bindPopup(popup_d5b85c86676690151946c0dd8cf25800)
        ;

        
    
    
            var marker_44f28fb0fcde8397c578f0b2e8020389 = L.marker(
                [45.32634702054708, 9.876255835355893],
                {}
            ).addTo(map_d54911d7871c66ae93fb30537f40c957);
        
    
        var popup_836bcb9bc493f377c650f0bce62c5f48 = L.popup({"maxWidth": "100%"});

        
            
                var html_eb0ced2411b47c684b579b865d22bc1d = $(`<div id="html_eb0ced2411b47c684b579b865d22bc1d" style="width: 100.0%; height: 100.0%;">Giudizio: Inquinato</div>`)[0];
                popup_836bcb9bc493f377c650f0bce62c5f48.setContent(html_eb0ced2411b47c684b579b865d22bc1d);
            
        

        marker_44f28fb0fcde8397c578f0b2e8020389.bindPopup(popup_836bcb9bc493f377c650f0bce62c5f48)
        ;

        
    
    
            var marker_9430bc95ccad388d9c46d68e2d68730c = L.marker(
                [45.66832494834318, 9.410615042952404],
                {}
            ).addTo(map_d54911d7871c66ae93fb30537f40c957);
        
    
        var popup_a0a7dcbfdc398c716e99ab73554678b8 = L.popup({"maxWidth": "100%"});

        
            
                var html_6e1f6d8684d9153e8ccaa59345003487 = $(`<div id="html_6e1f6d8684d9153e8ccaa59345003487" style="width: 100.0%; height: 100.0%;">Giudizio: Fortemente Inquinato</div>`)[0];
                popup_a0a7dcbfdc398c716e99ab73554678b8.setContent(html_6e1f6d8684d9153e8ccaa59345003487);
            
        

        marker_9430bc95ccad388d9c46d68e2d68730c.bindPopup(popup_a0a7dcbfdc398c716e99ab73554678b8)
        ;

        
    
    
            var marker_d614dca62c9caa6687e3c94e4f82daf3 = L.marker(
                [45.37295704510778, 9.91560820630359],
                {}
            ).addTo(map_d54911d7871c66ae93fb30537f40c957);
        
    
        var popup_4982d67ad7ea797c09818ac24f630c02 = L.popup({"maxWidth": "100%"});

        
            
                var html_855f17634f0544bda23870b5a6ea2ec0 = $(`<div id="html_855f17634f0544bda23870b5a6ea2ec0" style="width: 100.0%; height: 100.0%;">Giudizio: Inquinato</div>`)[0];
                popup_4982d67ad7ea797c09818ac24f630c02.setContent(html_855f17634f0544bda23870b5a6ea2ec0);
            
        

        marker_d614dca62c9caa6687e3c94e4f82daf3.bindPopup(popup_4982d67ad7ea797c09818ac24f630c02)
        ;

        
    
    
            var marker_aae8a315425160f31d54ffa789ec1f90 = L.marker(
                [45.47552223163952, 9.54504071839921],
                {}
            ).addTo(map_d54911d7871c66ae93fb30537f40c957);
        
    
        var popup_39003b2a9ec0e5effbed08e4275e8a1e = L.popup({"maxWidth": "100%"});

        
            
                var html_222d3de47deb741adddf50d331ace1ff = $(`<div id="html_222d3de47deb741adddf50d331ace1ff" style="width: 100.0%; height: 100.0%;">Giudizio: Entro i Limiti</div>`)[0];
                popup_39003b2a9ec0e5effbed08e4275e8a1e.setContent(html_222d3de47deb741adddf50d331ace1ff);
            
        

        marker_aae8a315425160f31d54ffa789ec1f90.bindPopup(popup_39003b2a9ec0e5effbed08e4275e8a1e)
        ;

        
    
    
            var marker_f6139168d17be636f1646516d1329703 = L.marker(
                [45.3208392245161, 9.971499227971462],
                {}
            ).addTo(map_d54911d7871c66ae93fb30537f40c957);
        
    
        var popup_8d588d95ced9221b144761e737102578 = L.popup({"maxWidth": "100%"});

        
            
                var html_6e4f86e431cc28c28a2de383e042ad20 = $(`<div id="html_6e4f86e431cc28c28a2de383e042ad20" style="width: 100.0%; height: 100.0%;">Giudizio: Fortemente Inquinato</div>`)[0];
                popup_8d588d95ced9221b144761e737102578.setContent(html_6e4f86e431cc28c28a2de383e042ad20);
            
        

        marker_f6139168d17be636f1646516d1329703.bindPopup(popup_8d588d95ced9221b144761e737102578)
        ;

        
    
    
            var marker_fdbf332a6fd31da3bbb90bf2b2116df9 = L.marker(
                [45.58671184741404, 9.933536722980499],
                {}
            ).addTo(map_d54911d7871c66ae93fb30537f40c957);
        
    
        var popup_3e726b416a2001ccc861e12db2b4cda2 = L.popup({"maxWidth": "100%"});

        
            
                var html_4eb5383fcca16b33e63f860d1f8e66c1 = $(`<div id="html_4eb5383fcca16b33e63f860d1f8e66c1" style="width: 100.0%; height: 100.0%;">Giudizio: Fortemente Inquinato</div>`)[0];
                popup_3e726b416a2001ccc861e12db2b4cda2.setContent(html_4eb5383fcca16b33e63f860d1f8e66c1);
            
        

        marker_fdbf332a6fd31da3bbb90bf2b2116df9.bindPopup(popup_3e726b416a2001ccc861e12db2b4cda2)
        ;

        
    
    
            var marker_dd109a420cda7626c7ba3eea4cf50b29 = L.marker(
                [45.455796248192414, 9.9000449362417],
                {}
            ).addTo(map_d54911d7871c66ae93fb30537f40c957);
        
    
        var popup_2767351b2bddbf1000fb40fe3ff6a162 = L.popup({"maxWidth": "100%"});

        
            
                var html_a8d56ebec2d96e1457a76a99e4929f09 = $(`<div id="html_a8d56ebec2d96e1457a76a99e4929f09" style="width: 100.0%; height: 100.0%;">Giudizio: Inquinato</div>`)[0];
                popup_2767351b2bddbf1000fb40fe3ff6a162.setContent(html_a8d56ebec2d96e1457a76a99e4929f09);
            
        

        marker_dd109a420cda7626c7ba3eea4cf50b29.bindPopup(popup_2767351b2bddbf1000fb40fe3ff6a162)
        ;

        
    
</script>
</html>